@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

body {
  color: #1D1E20;
  font-family: "DM Sans", sans-serif;
  background-color: #F4F5FF;
  background-position: center;
  background-position-x: calc(50% - 300px);
  background-size: auto;
  background-image: url('data:image/svg+xml,<svg width="1078" height="781" viewBox="0 0 1078 781" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M964.5 716.5L663.5 491.5" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M995 716.5C995 733.345 981.345 747 964.5 747C947.655 747 934 733.345 934 716.5C934 699.655 947.655 686 964.5 686C981.345 686 995 699.655 995 716.5Z" fill="%23F4F5FF" stroke="%23C5CDE9" stroke-width="2"/><path d="M964.314 726.554C969.883 726.554 974.398 722.038 974.398 716.466C974.398 710.894 969.883 706.378 964.314 706.378C958.744 706.378 954.229 710.894 954.229 716.466C954.229 722.038 958.744 726.554 964.314 726.554Z" fill="%23673DE6"/><path d="M582.777 36.8208H193.01L193.016 36.8154C185.523 36.8154 179.446 42.8999 179.446 50.3898V737.469H582.777" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M203.067 66.3127C206.432 66.3127 209.16 63.5837 209.16 60.2173C209.16 56.8508 206.432 54.1218 203.067 54.1218C199.702 54.1218 196.974 56.8508 196.974 60.2173C196.974 63.5837 199.702 66.3127 203.067 66.3127Z" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M229.672 66.3127C233.037 66.3127 235.765 63.5837 235.765 60.2173C235.765 56.8508 233.037 54.1218 229.672 54.1218C226.307 54.1218 223.579 56.8508 223.579 60.2173C223.579 63.5837 226.307 66.3127 229.672 66.3127Z" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M254.078 66.514C257.443 66.514 260.171 63.785 260.171 60.4186C260.171 57.0521 257.443 54.3231 254.078 54.3231C250.712 54.3231 247.984 57.0521 247.984 60.4186C247.984 63.785 250.712 66.514 254.078 66.514Z" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M1063.59 387H177.47" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M582.505 737.801C776.027 737.801 932.903 580.867 932.903 387.273C932.903 193.679 776.021 36.7447 582.505 36.7447" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M568 736.5C568 753.345 554.345 767 537.5 767C520.655 767 507 753.345 507 736.5C507 719.655 520.655 706 537.5 706C554.345 706 568 719.655 568 736.5Z" fill="%23F4F5FF" stroke="%23C5CDE9" stroke-width="2"/><path d="M537.314 746.554C542.883 746.554 547.398 742.038 547.398 736.466C547.398 730.894 542.883 726.378 537.314 726.378C531.744 726.378 527.229 730.894 527.229 736.466C527.229 742.038 531.744 746.554 537.314 746.554Z" fill="%23673DE6"/><path d="M832.184 386.997V364H855.363H878.548V340.997H901.726V318H924.911H948.095V340.997H971.274V364H994.458V340.997H1017.64V364H1040.82V386.997H1064V410H1040.82H1017.64H994.458H971.274H948.095H924.911H901.726H878.548H855.363H832.184H809V386.997H832.184Z" fill="%23FAFBFF" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M241.587 676.488H302.06V736.983H241.587V676.488Z" fill="%23FAFBFF" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M241.587 614.892H302.06V676.488H241.587V614.892Z" fill="%23FAFBFF" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M180.733 676.67H241.205V737.165H180.733V676.67Z" fill="%23FAFBFF" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M838 693.624C794.08 693.624 758.476 658.006 758.476 614.07C758.476 570.134 794.08 534.517 838 534.517C881.919 534.517 917.523 570.134 917.523 614.07C917.523 658.006 881.919 693.624 838 693.624Z" fill="%23F4F5FF" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M801.122 577.555H874.769V651.229H801.122V577.555Z" fill="%23F4F5FF" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M858.812 596.277H844.658C844.658 596.34 844.669 596.403 844.669 596.46C844.669 601.034 844.669 605.613 844.669 610.187C844.669 610.255 844.663 610.318 844.658 610.409H844.424C839.869 610.409 835.32 610.409 830.765 610.409C830.691 610.409 830.617 610.398 830.537 610.392C830.537 610.432 830.537 610.477 830.537 610.517C830.537 612.787 830.537 615.062 830.537 617.332C830.537 617.378 830.526 617.423 830.52 617.492H823.491C823.446 617.862 823.463 638.541 823.508 638.689C823.862 638.729 830.389 638.712 830.549 638.666V631.64H844.669V638.689H851.721V617.486H844.686V610.42H844.96C849.458 610.42 853.956 610.42 858.453 610.42C858.522 610.42 858.59 610.42 858.659 610.42C858.704 610.42 858.75 610.403 858.807 610.392C858.807 610.283 858.807 610.192 858.807 610.095C858.807 605.573 858.807 601.051 858.807 596.528C858.807 596.443 858.807 596.363 858.807 596.277H858.812Z" fill="%23F4F5FF" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M830.543 610.403C830.543 605.727 830.543 601.056 830.543 596.38C830.543 596.346 830.543 596.312 830.543 596.278H816.429V610.403C816.503 610.403 816.577 610.42 816.657 610.42C821.211 610.42 825.766 610.42 830.327 610.42C830.401 610.42 830.475 610.409 830.555 610.409L830.543 610.403Z" fill="%23F4F5FF" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><rect x="43" y="134" width="275" height="155" rx="6.52816" fill="%23F4F5FF"/><rect x="414" y="276" width="250" height="216" fill="%23F4F5FF"/><rect x="414" y="276" width="250" height="216" stroke="%23C5CDE9" stroke-width="2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M480.934 379.739V317.002L512.598 333.886V362.152L554.515 362.172L586.692 379.739H480.934ZM563.086 356.979V317L595.604 333.464V375.869L563.086 356.979ZM563.086 433.659V405.637L520.846 405.608C520.886 405.794 488.135 387.76 488.135 387.76L595.604 388.264V451L563.086 433.659ZM480.933 433.659L480.934 392.662L512.598 411.105V450.122L480.933 433.659Z" fill="%23673DE6"/><path d="M415.5 491.5L302 614.5" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M474.473 276H414V336.791" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M604 491.791H664.472V431" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M538 67L538 274" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><rect width="277" height="182.723" transform="translate(41 117.639)" fill="%23F4F5FF"/><rect x="41.2388" y="216.879" width="82.8295" height="82.8295" rx="2.82893" stroke="%23C5CDE9" stroke-width="1.30566"/><rect x="41.2388" y="216.879" width="76.3576" height="76.3576" rx="2.82893" fill="%23FAFBFF" stroke="%23C5CDE9" stroke-width="1.30566"/><path d="M83.585 237.799H76.3867L64.3159 271.238H71.0137L73.6193 263.654H86.2789L88.8697 271.238H95.5969L83.585 237.799ZM75.3416 258.639L79.9638 245.159L84.5713 258.639H75.3416Z" fill="white" stroke="%23673DE6" stroke-width="1.93606"/><rect x="138.086" y="216.879" width="82.8295" height="82.8295" rx="2.82893" stroke="%23C5CDE9" stroke-width="1.30566"/><rect x="138.086" y="216.879" width="76.3576" height="76.3576" rx="2.82893" fill="%23FAFBFF" stroke="%23C5CDE9" stroke-width="1.30566"/><path d="M176.664 272.317C174.321 272.317 172.224 271.899 170.373 271.08C168.551 270.261 167.105 269.039 166.021 267.46C164.965 265.866 164.43 263.944 164.401 261.695H171.024C171.053 262.678 171.299 263.572 171.762 264.361C172.224 265.151 172.861 265.792 173.656 266.268C174.495 266.715 175.478 266.939 176.62 266.939C177.604 266.939 178.457 266.775 179.166 266.462C179.903 266.119 180.481 265.643 180.872 265.032C181.277 264.421 181.479 263.706 181.479 262.887C181.479 261.933 181.248 261.144 180.785 260.503C180.351 259.862 179.729 259.326 178.934 258.879C178.168 258.432 177.257 258.03 176.201 257.687C175.189 257.3 174.104 256.913 172.962 256.496C170.402 255.632 168.435 254.499 167.091 253.069C165.76 251.639 165.095 249.747 165.095 247.393C165.095 245.397 165.558 243.669 166.483 242.239C167.438 240.809 168.754 239.706 170.417 238.947C172.08 238.187 173.974 237.8 176.114 237.8C178.254 237.8 180.221 238.202 181.855 238.991C183.518 239.751 184.834 240.868 185.789 242.328C186.772 243.788 187.278 245.501 187.322 247.483H180.655C180.626 246.753 180.409 246.068 180.004 245.427C179.628 244.757 179.108 244.235 178.428 243.848C177.748 243.431 176.953 243.222 176.027 243.222C175.232 243.192 174.48 243.312 173.801 243.609C173.15 243.893 172.629 244.325 172.224 244.891C171.848 245.427 171.675 246.112 171.675 246.946C171.675 247.781 171.863 248.406 172.224 248.943C172.629 249.479 173.164 249.956 173.844 250.373C174.524 250.76 175.319 251.118 176.244 251.475C177.17 251.788 178.168 252.131 179.252 252.473C180.857 253.039 182.332 253.725 183.692 254.529C185.051 255.289 186.136 256.287 186.931 257.538C187.726 258.775 188.131 260.414 188.131 262.455C188.131 264.198 187.683 265.821 186.786 267.311C185.89 268.801 184.603 270.007 182.896 270.931C181.233 271.855 179.151 272.317 176.649 272.317H176.664Z" fill="white" stroke="%23673DE6" stroke-width="1.93606"/><rect x="138.086" y="118.099" width="82.8295" height="82.8295" rx="2.82893" stroke="%23C5CDE9" stroke-width="1.30566"/><rect x="138.086" y="118.099" width="76.3576" height="76.3576" rx="2.82893" fill="%23FAFBFF" stroke="%23C5CDE9" stroke-width="1.30566"/><path d="M162.44 172.457L153.613 139.019H160.521L166.366 165.142L173.275 139.019H180.423L187.137 165.142L193.041 139.019H199.995L190.928 172.457H183.21L176.781 148.095L170.113 172.457H162.44Z" fill="white" stroke="%23673DE6" stroke-width="1.93606"/><rect x="234.927" y="216.879" width="82.8295" height="82.8295" rx="2.82893" stroke="%23C5CDE9" stroke-width="1.30566"/><rect x="234.927" y="216.879" width="76.3576" height="76.3576" rx="2.82893" fill="%23FAFBFF" stroke="%23C5CDE9" stroke-width="1.30566"/><path d="M259.084 271.238V237.8H270.596C274.592 237.8 277.896 238.501 280.478 239.905C283.106 241.278 285.042 243.218 286.287 245.726C287.563 248.204 288.208 251.145 288.208 254.519C288.208 257.893 287.563 260.833 286.287 263.356C285.042 265.834 283.121 267.79 280.539 269.178C277.942 270.551 274.638 271.238 270.611 271.238H259.1H259.084ZM265.724 265.7H270.242C273.055 265.7 275.283 265.252 276.881 264.356C278.526 263.461 279.679 262.192 280.37 260.535C281.062 258.848 281.4 256.848 281.4 254.519C281.4 252.19 281.062 250.16 280.37 248.503C279.679 246.816 278.511 245.532 276.881 244.637C275.283 243.741 273.055 243.293 270.242 243.293H265.724V265.7Z" fill="white" stroke="%23673DE6" stroke-width="1.93606"/><path d="M568.625 36.5C568.625 53.3253 554.695 67 537.469 67C520.242 67 506.312 53.3254 506.312 36.5C506.312 19.6747 520.242 6 537.469 6C554.695 6 568.625 19.6747 568.625 36.5Z" fill="%23F4F5FF" stroke="%23C5CDE9" stroke-width="2"/><path d="M537.279 46.5542C542.964 46.5542 547.573 42.0375 547.573 36.466C547.573 30.8944 542.964 26.3778 537.279 26.3778C531.593 26.3778 526.984 30.8944 526.984 36.466C526.984 42.0375 531.593 46.5542 537.279 46.5542Z" fill="%23673DE6"/><path d="M203.167 386.5C203.167 403.325 189.237 417 172.01 417C154.783 417 140.854 403.325 140.854 386.5C140.854 369.675 154.783 356 172.01 356C189.237 356 203.167 369.675 203.167 386.5Z" fill="%23F4F5FF" stroke="%23C5CDE9" stroke-width="2"/><path d="M171.82 396.554C177.506 396.554 182.115 392.038 182.115 386.466C182.115 380.894 177.506 376.378 171.82 376.378C166.135 376.378 161.526 380.894 161.526 386.466C161.526 392.038 166.135 396.554 171.82 396.554Z" fill="%23673DE6"/><path d="M249.054 415.07C242.225 430.097 231.42 442.972 217.806 452.304C204.191 461.636 188.286 467.069 171.807 468.018C155.329 468.966 138.905 465.394 124.309 457.685C109.714 449.977 97.5029 438.427 88.9954 424.283L116.483 407.75C121.977 416.884 129.863 424.344 139.289 429.322C148.715 434.3 159.322 436.607 169.964 435.995C180.606 435.382 190.878 431.873 199.671 425.846C208.463 419.819 215.441 411.504 219.851 401.8L249.054 415.07Z" fill="%23673DE6"/></svg>');
}
a {
  color: #673DE6;
  text-decoration: none;
}
a:visited {
  color: #673DE6;
}
a:hover {
  color: #5025d1;
}
a#forgotLogin {
    font-size: 0 !important;
}
a#forgotLogin:after {
    content: "Forgot password?" !important;
    font-size: 16px !important;
}
#loginContainer {
  height: 100%;
  border-radius: 0;
  right: 0;
  width: 600px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 96px 32px 96px;
}
#loginLogo img{
  height: 32px;
  float: left;
}
#loginWelcome {
  font-weight: bold;
}
#loginForm #loginModuleInfo {
  color: #727586;
}
#loginForm input {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #DADCE0;
  box-shadow: none;
}
#loginButton {
  box-shadow: none;
  width: 100%;
  border-radius: 8px;
}
#forgotLogin{
  display: block;
  text-align: center;
}
#barTop,
#userInfo {
  background-color: #333;
}
#sideMenuContainer,
.subMenuWell,
#mainBody {
  background: #333;
}
#sideMenu a {
  font-size: 100%;
}
#sideMenu a:active {
  background-color: #111;
}
#sideMenu a.selected {
  background-color: #222;
  color: #8C85FF;
}
#notificationContainer {
  color: #FFF;
}
input[type=text],
input[type=password],
input[type=url],
input[type=number],
input[type=email],
input[type=search],
select,
textarea {
  background-color: #FFFFFF;
  color: #727586;
}
input.searchBox {
  background-color: transparent;
}
input[type=checkbox] + span {
  box-shadow: none;
}
input[type=checkbox] + span::after {
  background-color: #FFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.3);
}
input[type=checkbox]:checked + span {
  background-color: #673DE6;
}
input[type=checkbox]:checked + span::after {
  background-color: #5025d1;
}
button {
  background-color: #5025d1;
}
button, input[type=button], input[type=submit], .button {
  border: 1px solid #673DE6;
}
button:hover, input[type=button]:hover, input[type=submit]:hover, .button:hover {
  background-color: #5025d1;
}
.wizardTab .wizardContents {
  background-color: #222;
  border-bottom: 8px solid #444;
}
.wizardTab .wizardContents h2 {
  background-color: #444;
}
.scheduleTriggerInfo {
  border: 1px solid #444;
  background-color: #333;
}
.ServerGroup.Online .ServerGroupHeader {
  background: #EBE4FF !important;
  color: #1D1E20;
  text-shadow: none;
}
.ServerEntry.NewServerEntry {
  background-color: #8C85FF !important;
}
.settingsGroup .groupBody .settingContainer {
  background-color: #333;
}
.bgGreen {
  background-color: #673DE6;
  border: 1px solid #673DE6;
}
.bgGreen:hover {
  background-color: #5025d1;
  border: 1px solid #5025d1;
}
.bgRed {
  background-color: #D63163;
  border: 1px solid #D63163;
}
.bgRed:hover {
  background-color: #D63163;
  border: 1px solid #D63163;
}
