@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

body {
  color: #1D1E20;
  font-family: "DM Sans", sans-serif;
  background-color: #F4F5FF;
  background-position: center;
  background-position-x: calc(50% - 300px);
  background-size: auto;
  background-image: url('data:image/svg+xml,<svg width="1056" height="763" viewBox="0 0 1056 763" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M953.5 711.5L652.5 486.5" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M984 711.5C984 728.345 970.345 742 953.5 742C936.655 742 923 728.345 923 711.5C923 694.655 936.655 681 953.5 681C970.345 681 984 694.655 984 711.5Z" fill="%23F4F5FF" stroke="%23C5CDE9" stroke-width="2"/><path d="M953.314 721.554C958.883 721.554 963.398 717.038 963.398 711.466C963.398 705.894 958.883 701.378 953.314 701.378C947.744 701.378 943.229 705.894 943.229 711.466C943.229 717.038 947.744 721.554 953.314 721.554Z" fill="%23673DE6"/><path d="M571.777 31.8208H182.01L182.016 31.8153C174.523 31.8153 168.446 37.8998 168.446 45.3898V732.469H571.777" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M192.067 61.3127C195.432 61.3127 198.16 58.5837 198.16 55.2173C198.16 51.8508 195.432 49.1218 192.067 49.1218C188.702 49.1218 185.974 51.8508 185.974 55.2173C185.974 58.5837 188.702 61.3127 192.067 61.3127Z" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M218.672 61.3127C222.037 61.3127 224.765 58.5837 224.765 55.2173C224.765 51.8508 222.037 49.1218 218.672 49.1218C215.307 49.1218 212.579 51.8508 212.579 55.2173C212.579 58.5837 215.307 61.3127 218.672 61.3127Z" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M243.078 61.514C246.443 61.514 249.171 58.785 249.171 55.4186C249.171 52.0521 246.443 49.3231 243.078 49.3231C239.712 49.3231 236.984 52.0521 236.984 55.4186C236.984 58.785 239.712 61.514 243.078 61.514Z" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M1052.59 382H166.47" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M571.505 732.801C765.027 732.801 921.903 575.867 921.903 382.273C921.903 188.679 765.021 31.7446 571.505 31.7446" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M557 731.5C557 748.345 543.345 762 526.5 762C509.655 762 496 748.345 496 731.5C496 714.655 509.655 701 526.5 701C543.345 701 557 714.655 557 731.5Z" fill="%23F4F5FF" stroke="%23C5CDE9" stroke-width="2"/><path d="M526.314 741.554C531.883 741.554 536.398 737.038 536.398 731.466C536.398 725.894 531.883 721.378 526.314 721.378C520.744 721.378 516.229 725.894 516.229 731.466C516.229 737.038 520.744 741.554 526.314 741.554Z" fill="%23673DE6"/><path d="M821.184 381.997V359H844.363H867.548V335.997H890.726V313H913.911H937.095V335.997H960.274V359H983.458V335.997H1006.64V359H1029.82V381.997H1053V405H1029.82H1006.64H983.458H960.274H937.095H913.911H890.726H867.548H844.363H821.184H798V381.997H821.184Z" fill="%23FAFBFF" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M230.587 671.488H291.06V731.983H230.587V671.488Z" fill="%23FAFBFF" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M230.587 609.892H291.06V671.488H230.587V609.892Z" fill="%23FAFBFF" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M169.733 671.67H230.205V732.165H169.733V671.67Z" fill="%23FAFBFF" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M827 688.624C783.08 688.624 747.476 653.006 747.476 609.07C747.476 565.134 783.08 529.517 827 529.517C870.919 529.517 906.523 565.134 906.523 609.07C906.523 653.006 870.919 688.624 827 688.624Z" fill="%23F4F5FF" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M790.122 572.555H863.769V646.229H790.122V572.555Z" fill="%23F4F5FF" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M847.812 591.277H833.658C833.658 591.34 833.669 591.403 833.669 591.46C833.669 596.034 833.669 600.613 833.669 605.187C833.669 605.255 833.663 605.318 833.658 605.409H833.424C828.869 605.409 824.32 605.409 819.765 605.409C819.691 605.409 819.617 605.397 819.537 605.392C819.537 605.432 819.537 605.477 819.537 605.517C819.537 607.787 819.537 610.062 819.537 612.332C819.537 612.378 819.526 612.423 819.52 612.492H812.491C812.446 612.862 812.463 633.541 812.508 633.689C812.862 633.729 819.389 633.712 819.549 633.666V626.64H833.669V633.689H840.721V612.486H833.686V605.42H833.96C838.458 605.42 842.956 605.42 847.453 605.42C847.522 605.42 847.59 605.42 847.659 605.42C847.704 605.42 847.75 605.403 847.807 605.392C847.807 605.283 847.807 605.192 847.807 605.095C847.807 600.573 847.807 596.051 847.807 591.528C847.807 591.443 847.807 591.363 847.807 591.277H847.812Z" fill="%23F4F5FF" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M819.543 605.403C819.543 600.727 819.543 596.056 819.543 591.38C819.543 591.346 819.543 591.312 819.543 591.277H805.429V605.403C805.503 605.403 805.577 605.42 805.657 605.42C810.211 605.42 814.766 605.42 819.327 605.42C819.401 605.42 819.475 605.409 819.555 605.409L819.543 605.403Z" fill="%23F4F5FF" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><rect x="32" y="129" width="275" height="155" rx="6.52816" fill="%23F4F5FF"/><rect x="403" y="271" width="250" height="216" fill="%23F4F5FF"/><rect x="403" y="271" width="250" height="216" stroke="%23C5CDE9" stroke-width="2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M469.934 374.739V312.002L501.598 328.886V357.152L543.515 357.172L575.692 374.739H469.934ZM552.086 351.979V312L584.604 328.464V370.869L552.086 351.979ZM552.086 428.659V400.637L509.846 400.608C509.886 400.794 477.135 382.76 477.135 382.76L584.604 383.264V446L552.086 428.659ZM469.933 428.659L469.934 387.662L501.598 406.105V445.122L469.933 428.659Z" fill="%23673DE6"/><path d="M404.5 486.5L291 609.5" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><path d="M463.473 271H403V331.791" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M593 486.791H653.472V426" stroke="%23673DE6" stroke-width="2" stroke-miterlimit="10"/><path d="M527 62L527 269" stroke="%23C5CDE9" stroke-width="2" stroke-miterlimit="10"/><rect width="277" height="182.723" transform="translate(30 112.639)" fill="%23F4F5FF"/><rect x="30.2388" y="211.879" width="82.8295" height="82.8295" rx="2.82893" stroke="%23C5CDE9" stroke-width="1.30566"/><rect x="30.2388" y="211.879" width="76.3576" height="76.3576" rx="2.82893" fill="%23FAFBFF" stroke="%23C5CDE9" stroke-width="1.30566"/><path d="M72.585 232.799H65.3867L53.3159 266.238H60.0137L62.6193 258.654H75.2789L77.8697 266.238H84.5969L72.585 232.799ZM64.3416 253.639L68.9638 240.159L73.5713 253.639H64.3416Z" fill="white" stroke="%23673DE6" stroke-width="1.93606"/><rect x="127.086" y="211.879" width="82.8295" height="82.8295" rx="2.82893" stroke="%23C5CDE9" stroke-width="1.30566"/><rect x="127.086" y="211.879" width="76.3576" height="76.3576" rx="2.82893" fill="%23FAFBFF" stroke="%23C5CDE9" stroke-width="1.30566"/><path d="M165.664 267.316C163.321 267.316 161.224 266.899 159.373 266.08C157.551 265.261 156.105 264.039 155.021 262.46C153.965 260.866 153.43 258.944 153.401 256.695H160.024C160.053 257.678 160.299 258.572 160.762 259.361C161.224 260.151 161.861 260.791 162.656 261.268C163.495 261.715 164.478 261.939 165.62 261.939C166.604 261.939 167.457 261.775 168.166 261.462C168.903 261.119 169.481 260.642 169.872 260.032C170.277 259.421 170.479 258.706 170.479 257.886C170.479 256.933 170.248 256.143 169.785 255.503C169.351 254.862 168.729 254.326 167.934 253.879C167.168 253.432 166.257 253.03 165.201 252.687C164.189 252.3 163.104 251.913 161.962 251.496C159.402 250.631 157.435 249.499 156.091 248.069C154.76 246.639 154.095 244.747 154.095 242.393C154.095 240.397 154.558 238.669 155.483 237.239C156.438 235.809 157.754 234.706 159.417 233.947C161.08 233.187 162.974 232.799 165.114 232.799C167.254 232.799 169.221 233.202 170.855 233.991C172.518 234.751 173.834 235.868 174.789 237.328C175.772 238.788 176.278 240.501 176.322 242.483H169.655C169.626 241.753 169.409 241.067 169.004 240.427C168.628 239.756 168.108 239.235 167.428 238.848C166.748 238.431 165.953 238.222 165.027 238.222C164.232 238.192 163.48 238.311 162.801 238.609C162.15 238.892 161.629 239.324 161.224 239.891C160.848 240.427 160.675 241.112 160.675 241.946C160.675 242.781 160.863 243.406 161.224 243.943C161.629 244.479 162.164 244.956 162.844 245.373C163.524 245.76 164.319 246.118 165.244 246.475C166.17 246.788 167.168 247.131 168.252 247.473C169.857 248.039 171.332 248.725 172.692 249.529C174.051 250.289 175.136 251.287 175.931 252.538C176.726 253.775 177.131 255.414 177.131 257.454C177.131 259.197 176.683 260.821 175.786 262.311C174.89 263.801 173.603 265.007 171.896 265.931C170.233 266.855 168.151 267.316 165.649 267.316H165.664Z" fill="white" stroke="%23673DE6" stroke-width="1.93606"/><rect x="127.086" y="113.099" width="82.8295" height="82.8295" rx="2.82893" stroke="%23C5CDE9" stroke-width="1.30566"/><rect x="127.086" y="113.099" width="76.3576" height="76.3576" rx="2.82893" fill="%23FAFBFF" stroke="%23C5CDE9" stroke-width="1.30566"/><path d="M151.44 167.457L142.613 134.019H149.521L155.366 160.142L162.275 134.019H169.423L176.137 160.142L182.041 134.019H188.995L179.928 167.457H172.21L165.781 143.095L159.113 167.457H151.44Z" fill="white" stroke="%23673DE6" stroke-width="1.93606"/><rect x="223.927" y="211.879" width="82.8295" height="82.8295" rx="2.82893" stroke="%23C5CDE9" stroke-width="1.30566"/><rect x="223.927" y="211.879" width="76.3576" height="76.3576" rx="2.82893" fill="%23FAFBFF" stroke="%23C5CDE9" stroke-width="1.30566"/><path d="M248.084 266.238V232.8H259.596C263.592 232.8 266.896 233.501 269.478 234.904C272.106 236.278 274.042 238.218 275.287 240.726C276.563 243.204 277.208 246.145 277.208 249.519C277.208 252.892 276.563 255.833 275.287 258.356C274.042 260.834 272.121 262.79 269.539 264.178C266.942 265.551 263.638 266.238 259.611 266.238H248.1H248.084ZM254.724 260.7H259.242C262.055 260.7 264.283 260.252 265.881 259.356C267.526 258.461 268.679 257.192 269.37 255.535C270.062 253.848 270.4 251.847 270.4 249.519C270.4 247.19 270.062 245.16 269.37 243.503C268.679 241.816 267.511 240.532 265.881 239.637C264.283 238.741 262.055 238.293 259.242 238.293H254.724V260.7Z" fill="white" stroke="%23673DE6" stroke-width="1.93606"/></svg>');
}
a {
  color: #673DE6;
  text-decoration: none;
}
a:hover {
  color: #5025d1;
}
#loginContainer {
  height: 100%;
  border-radius: 0;
  right: 0;
  width: 600px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#loginLogo img{
  height: 32px;
  float: left;
}
#loginWelcome {
  font-weight: bold;
}
#loginForm #loginModuleInfo {
  color: #727586;
}
#loginForm input {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #DADCE0;
  box-shadow: none;
}
#loginButton {
  box-shadow: none;
  width: 100%;
  border-radius: 8px;
}
#forgotLogin{
  display: block;
  text-align: center;
}
#barTop,
#userInfo {
  background-color: #333;
}
#sideMenuContainer,
.subMenuWell,
#mainBody {
  background: #333;
}
#sideMenu a {
  font-size: 100%;
}
#sideMenu a:active {
  background-color: #111;
}
#sideMenu a.selected {
  background-color: #222;
  color: #5EA8DE;
}
input[type=text],
input[type=password],
input[type=url],
input[type=number],
input[type=email],
input[type=search],
select,
textarea {
  background-color: #FFFFFF;
  color: #727586;
}
input.searchBox {
  background-color: transparent;
}
input[type=checkbox] + span {
  box-shadow: none;
}
input[type=checkbox] + span::after {
  background-color: #FFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5), 0 0 4px rgba(0, 0, 0, 0.3);
}
input[type=checkbox]:checked + span {
  background-color: #673DE6;
}
input[type=checkbox]:checked + span::after {
  background-color: #5025d1;
}
button, input[type=button], input[type=submit], .button {
  border: 1px solid #673DE6;
}
button:hover, input[type=button]:hover, input[type=submit]:hover, .button:hover {
  background-color: #5025d1;
}
.wizardTab .wizardContents {
  background-color: #222;
  border-bottom: 8px solid #444;
}
.wizardTab .wizardContents h2 {
  background-color: #444;
}
.scheduleTriggerInfo {
  border: 1px solid #444;
  background-color: #333;
}
.ServerGroup.Online .ServerGroupHeader {
  background: #EBE4FF;
  color: #1D1E20;
  text-shadow: none;
}
.ServerEntry.NewServerEntry {
  background-color: #8C85FF;
}
.settingsGroup .groupBody .settingContainer {
  background-color: #333;
}
.bgGreen {
  background-color: #673DE6;
  border: 1px solid #673DE6;
}
.bgGreen:hover {
  background-color: #5025d1;
  border: 1px solid #5025d1;
}
