[Unit]
Description=Gunicorn instance to serve Flask application
After=network.target

[Service]
User=linuxuser
Group=www-data
WorkingDirectory=/root/flask_project
Environment="PATH=/root/flask_project/flaskenv/bin"
ExecStart=/root/flask_project/flaskenv/bin/gunicorn --workers 3 --bind unix:/root/flask_project/flask_app.sock flask_app:app

[Install]
WantedBy=multi-user.target
