[Unit]
Description = pocketbase

[Service]
Type           = simple
User           = root
Group          = root
LimitNOFILE    = 4096
Restart        = always
RestartSec     = 5s
StandardOutput = append:/root/pb/std.log
StandardError  = append:/root/pb/std.log
ExecStart      = /root/pb/pocketbase serve --http=0.0.0.0:8090

[Install]
WantedBy = multi-user.target